:root {
    --text-colour: #1a1c20 ;
    --link-colour: #4a76ee ;
    --background-colour: #eeeff1 ;
}
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'poppins', sans-serif;
    background-color: var(--background-colour);
    max-width: 1400px;
    margin: 0 auto;
}
a {
    color: var(--link-colour);
    text-decoration: none;
}
/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px
}

nav .left a{
    color: var(--text-colour);
    font-size: 22px;
    font-weight: 600;
}

nav .right a{
    color: var(--text-colour);
    margin: 0 10px;
}

nav .right a:last-child{
    color: var(--background-colour);
    background-color: var(--text-colour);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span{
    margin-left: 5px;
}

/* Section1: hero */
.Hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}

.Hero-section .text{
    flex: 5;
}

.Hero-section .text h2{
    font-size: 45px;
}

.Hero-section .text .links{
    margin-top: 25px;
}

.Hero-section .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-colour);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.1s;
}

.Hero-section .text .links a:hover{
    color: var(--text-colour);
    border: 2px solid var(--text-colour);
}


.Hero-section .HeadShot{
    flex: 1;
    display: flex;
    justify-content: right;
}

.Hero-section .HeadShot img{
    border-radius: 50%;
    width: 350px;
}

/* Section 2 : Skills */
.skills-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.skills-section h2{
    text-align: center;
    font-size: 35px;
}

.skills-section .text{
    text-align: center;
    margin-bottom: 20px;
}

.skills-section .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid lightgray;
    border-radius: 5px;
    gap: 10px;
}

.skills-section .cells .cell span{
    font-size: 18px;
}

.skills-section .cells .cell img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 2px;
}

/* Section 4 : Contact */

.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2{
    font-size: 35px;
}

.contact-section .group{
    display: flex;
    gap: 50px;
}

.contact-section .group .text{
    flex: 3;
    margin-top: 20px;
}

.contact-section .group form{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea{
    font-family: 'Poppins', sans-serif;
    border: 2px solid lightblue;
    padding: 10px;
    margin-bottom: 15px;
    resize: none;
    outline: none;
    background-color: transparent;
}

.contact-section .group form button{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: lightblue;
    border: none;
    height: 50px;
    cursor: pointer;
    transition: 0.1s;
}

.contact-section .group form button:hover{
    filter: brightness(.9);
}

@media (max-width: 850px){
    /* Section 1: Hero */
    .Hero-section .text h2{
        font-size: 35px;
    }
}

@media (max-width: 740px){
    /* Section 1 : Hero */
    .Hero-section{
        flex-direction: column-reverse;
    }

    .Hero-section .HeadShot img{
        width: 320px;
    }

    /* Section 4: Contacts */
    .contact-section .group{
        flex-direction: column;
    }
}

@media (max-width: 600px){
    /* Navbar */
    nav {
        padding: 0 20px;
    }
    nav .right a {
        font-size: 22px;
    }
    
    nav .right a:last-child{
        color: var(--text-colour);
        background-color: transparent;
        padding: 0 ;
    }

    nav .right a span{
        display: none;
    }

    /* Section 1 : Hero */
    .Hero-section {
        padding: 0 20px;
    }
    .Hero-section .text h2{
        font-size: 30px;
    }

    /* Section 2 : Skills */
    .skills-section{
        padding: 0 20px;
    }

    .skills-section.cells .cell span{
        font-size: 16px;
    }


     /* Section 4: Contacts */
    .contact-section{
        padding: 0 20px;
    }
}